*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.debug{
  background-color: rgba(0, 0, 255, 0.346);
}

.row{
  min-height: 50px;
  padding: 20px;
}
.container{
  margin: 0px auto;
  max-width: 1050px;
  display: flex;  
}

.card{
  margin: 20px 10px;
  position: relative;
}

img{
  max-width: 330px;
}

ul{
  list-style: none;
}

/**************** HEADER ****************/

header{
  color: white;
  font-size: 0.6rem;
}

header .container{
  justify-content: space-between;
}

ul{
  align-content: center;
}

li{
  display: inline;
}

.logo img{
  max-width: 90px;
}


/**************** /HEADER ****************/

/**************** MAIN ******************/

main .container{
  margin: 40px auto;
  justify-content: center;
  flex-wrap: wrap;
}
.card .absolute{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card .marca{
  color: #5C5D5B;
  font-size: 0.9rem;
}

.card .articolo{
  font-weight: 800;
}

.card .prezzo{
  display: inline-block;
  color: red;
  font-size: 0.9rem;
}

.card .prezzo.originale{
  color: #5C5D5B;
  text-decoration: line-through;
}

.card .heart{
  position: absolute;
  background-color: white;
  top: 8px;
  right: 0;
  padding: 7px;
}

.card .badge{
  position: absolute;
  bottom: 95px;
  left: 0;
}
.card .badge .discount{
  color: white;
  background-color: red;
  padding: 4px 8px;
}

.card .badge .eco{
  color: white;
  background-color: green;
  padding: 4px 8px;
}

/***************** AZIONI ***************/
.heart:hover{
  color: red;
}

.card:hover .absolute{
  display: block;
}
/***************** /AZIONI ***************/

/**************** /MAIN ******************/

