*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.debu{
  background-color: rgba(236, 6, 6, 0.392);
  border: 1px solid black;
  min-height: 100px;
}


.container{
  margin: 60px auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin: 10px;
  position: relative;
}

img{
  max-width: 330px;
}

.card .absolute{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .absolute{
  display: block;
}

.card .marca{
  color: #5C5D5B;
  font-size: 0.9rem;
}

.card .articolo{
  font-weight: 800;
}

.card .prezzo{
  display: inline-block;
  color: red;
  font-size: 0.9rem;
}

.card .prezzo.originale{
  color: #5C5D5B;
  text-decoration: line-through;
}