*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(236, 6, 6, 0.392);
  border: 1px solid black;
  min-height: 100px;
}


.container{
  margin: 60px auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  position: relative;
}

.card .absolute{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .absolute{
  display: block;
}


img{
  max-width: 330px;
}